.footer-logo {
    margin-left: 2rem;
    font-size: large;
    width: 130px;
    height: 34px;
    //background: url('telus-logo-black-and-white-small.png') no-repeat;
    display: inline-block;
    line-height: 27px;
    vertical-align:middle; 
  }