.header-input-field .MuiInputLabel-root{
    color:#ebedeb !important
}

.header-input-field .MuiInput-underline:before{
    border-bottom: 1px solid #ebedeb !important;
}

.header-input-field .MuiInputBase-root{
    color: white !important
}

.header-input-field .MuiToggleButton-root{
    color: slategrey !important
}

.header-input-field .Mui-selected{
    color: white !important
}

.pr-2{
    padding-right: 1%
}